@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DOSPilgiMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KimjungchulGothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KimjungchulGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Regular.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  /* TODO: font setting */
  /* font-family: "KimjungchulGothic-Regular"; */
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: rgb(245 245 245 / 1);
}

body {
  @apply flex w-full justify-center bg-neutral-100;
}
#root {
  @apply flex min-h-screen w-full flex-col;
}

img {
  display: block;
  height: 100%;
  line-height: 0;
}
