@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply flex w-full justify-center bg-neutral-100;
}
#root {
  @apply flex min-h-screen w-full flex-col;
}

img {
  display: block;
  height: 100%;
  line-height: 0;
}
